NodeRed_flows.json
[{"id":"34e771c5.67549e","type":"tab","label":"Weather_Station","disabled":false,"info":""},{"id":"8aeadf0a.936d","type":"mqtt in","z":"34e771c5.67549e","name":"Weather_Station","topic":"application/2/device/e24f43fffe39d2db/rx","qos":"2","datatype":"auto","broker":"839cfba7.37f7f8","x":140,"y":160,"wires":[["96696ee8.4a91"]]},{"id":"96696ee8.4a91","type":"json","z":"34e771c5.67549e","name":"","property":"payload","action":"","pretty":false,"x":330,"y":160,"wires":[["e5e8a3c8.c1de2"]]},{"id":"e5e8a3c8.c1de2","type":"function","z":"34e771c5.67549e","name":"","func":"msg.payload=msg.payload.object;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["8e8c5667.5a3538","487e081c.ae5778","4362e8d2.6b0798"]]},{"id":"8e8c5667.5a3538","type":"debug","z":"34e771c5.67549e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":160,"wires":[]},{"id":"487e081c.ae5778","type":"mongodb2 in","z":"34e771c5.67549e","service":"_ext_","configNode":"c6142c4b.f949a","name":"Weather_Station","collection":"Weather_Station","operation":"save","x":670,"y":60,"wires":[["8e8c5667.5a3538"]]},{"id":"4362e8d2.6b0798","type":"influxdb out","z":"34e771c5.67549e","influxdb":"24c73905.d12426","name":"Weather_Station","measurement":"Weather_Station","precision":"","retentionPolicy":"","x":670,"y":220,"wires":[]},{"id":"839cfba7.37f7f8","type":"mqtt-broker","z":"","name":"","broker":"159.8.95.109","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c6142c4b.f949a","type":"mongodb2","z":"","uri":"mongodb://159.8.95.109:27017","name":"admin","options":"","parallelism":"-1"},{"id":"24c73905.d12426","type":"influxdb","z":"","hostname":"159.8.95.109","port":"8086","protocol":"http","database":"Smart_Building","name":"","usetls":false,"tls":""}]